/* stylelint-disable selector-class-pattern */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

.bodyClass {
  font-family: 'Noto Sans JP', sans-serif;
}

.form-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.form-table th,
.form-table td {
  padding: 8px;
  vertical-align: top;
  border: 1px solid #000;
}

.form-table th {
  width: 20%;
  background-color: #f3f3f3;
}

.form-table td {
  width: 80%;
  background-color: #fff;
}

.form-table .note {
  padding-top: 0.5rem;
  font-size: 0.65rem;
  text-align: right;
  vertical-align: top;
}

.input-field {
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  border: none;
}

.input-field:focus {
  outline: none;
}

.photo-note {
  font-size: 0.75rem;
  line-height: 1.2;
}
